h1 a { color: #87CEEB; font-family: 'Lobster'; } 
li a { color: #87CEEB; font-family: 'Lobster'; } 
h2 a { color: #87CEEB; font-family: 'Lobster'; } 
body { background-color: #FF8C00; padding-left: 15px; } 
#caja{ box-shadow: 4px 4px 10px #000000; }