<a href="{% url 'djandoApp.views.registro' %}"> Registrarse</a>
<a href="{% url 'djandoApp.views.login' %}"> login</a>
<hr/>
<h1>Bienvenido</h1>
<div style="width:100%">

	<div style="width:70%;float:left;">
		<h2>Grupos Registrados</h2>
	{% if contenido %}

	<ul>
		{% for q in contenido %}
		<li>
		<a href ="{% url 'djandoApp.views.detalle_grupo' pk=q.pk %}">{{q.nombre}}</a>
		<h4>Genero:</h4>
			{% for g in q.genero.all%}
			{{g.nombre}}
			{%endfor%}
		</li>
		<hr/>
		{% endfor %}		
	</ul>
	{% else %}
	<p>Aun no hay registros de grupos</p>
	{% endif %}
	</div>

	<div style="float:left;">
	<h2>Ultimos Posts</h2>	
	{% if public %}

	<ul>
		{% for q in public %}
		<li> 
		<h4>{{q.grupo}}</h4>
		<a href ="{% url 'djandoApp.views.detalle_public' pk=q.pk %}">{{q.titulo}}</a>

		<h5>{{q.texto}}</h5>
		</li>
		<hr/>
		{% endfor %}
	</ul>
	{% else %}
	<p>Aun no hay publicaciones de grupos</p>
	{% endif %}

	</div>
</div>
<!--
<h1>Bienvenido</h1>
<div style="width:100%">

	<div style="width:70%;float:left;">
		<h2>Grupos Registrados 2</h2>
	{% if contenido %}

	<ul>
		{% for q in contenido %}
		<li> 
		<a href ="{% url 'djandoApp.views.detalle_public' pk=q.pk %}">{{q.titulo}}</a>

		<h4>comentario:</h4>
			{{q.texto}}
		</li>
		<br/>
		<hr/>
		{% endfor %}
	</ul>
	{% else %}
	<p>Aun no hay registros de grupos</p>
	{% endif %}
	</div>
<hr/>
</div>
-->
