	<h1>Bienvenido</h1>
<div style="width:100%">
	<a href="nuevousuario.html">registrar</a>
	<a href="ingresar.html">login</a>
	<a href=""></a>
	<div style="width:70%;float:left;">
		<h2>Grupos Registrados</h2>
		{% if contenido %}

	<ul>
		{% for q in contenido %}
		<li>{{q.nombre}} - Genero:
			{% for g in q.genero.all%}
			{{g.nombre}}
			{%endfor%}
		</li>
		{% endfor %}		
	</ul>
	{% else %}
	<p>Aun no hay registros de grupos</p>
	{% endif %}
	</div>

	<div style="float:left;">
		<h2>Ultimos Posts</h2>	
	</div>
</div>